body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 25px red;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 42s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1464207687429-7505649dae38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6354eedc19ac4f3d9080c74963489da4&auto=format&fit=crop&w=1952&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5cedc6b95f731395da7269d2341f9a5e&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 7s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1517824806704-9040b037703b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d95171e276fbd03de651f9aecb64b53d&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 14s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 21s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1471128239556-6ea9c69e8674?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bab7df9420910450a451a1f38b412db5&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 28s; 
}
.slideshow li:nth-child(6) { 
  background-image: url(https://images.unsplash.com/photo-1460899162311-d63278c9cf9d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc130160575a91709889b22c4d718ed4&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 35s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}